.gizmo {
    display: grid;
    position: absolute;
    left: 0;
    top: 0;
    grid-template-columns: repeat(2, 1fr);
    background: 
        linear-gradient(90deg, white 50%, black 50%), 
        linear-gradient(90deg, white 50%, black 50%), 
        linear-gradient(0deg, white 50%, black 50%), 
        linear-gradient(0deg, white 50%, black 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
    animation: border-dance 4s infinite linear;
}

.gizmo-handle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1.5px solid black;
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px white;
    cursor: all-scroll;
}

.gizmo-handle:nth-child(1) {
    transform: translate(-50%,-50%);
}
.gizmo-handle:nth-child(2) {
    transform: translate(50%,-50%);
    margin-left: auto;
}
.gizmo-handle:nth-child(3) {
    transform: translate(-50%,50%);
    margin-top: auto;
}
.gizmo-handle:nth-child(4) {
    transform: translate(50%,50%);
    margin-left: auto;
    margin-top: auto;
}

@keyframes border-dance {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    }
    100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
    }
}
